*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219,219,219,1);
    background-color: white;
    position: sticky;
    top: 0;
}
header .logo{
    height: 29px;
}
header .logo img{
    height: 100%;
    object-fit: contain;
}
header .searchbox{
    width: 250px;
    background-color: rgba(239,239,239,1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
header .searchbox input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
    color: #8e8e8e;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-left: 20px;
}
header nav ul li{
    margin-right: 0;
}
header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li a i{
    font-size: 22px;
    color: rgba(38,38,38,1);
}


section{
    padding: 30px 18%;
    background-color: #fafafa;
    display: flex;
}
.leftside{
    width: 65%;
}
.story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
}
.story .stories{
    width: 17%;
}
.story .stories a img{
    border-radius: 50%;
    border: 2px solid #c62d8f;
    padding: 1px;
    object-fit: cover;
}
.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;
    color: #262626;
}
.posts{
    margin: 25px 0;
    background-color: white;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
}
.posts .posttitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.posts .posttitle .postleft{
    display: flex;
    align-items: center;
}
.posts .posttitle .postleft .image{
    width: 45px;
}
.posts .posttitle .postleft .image img{
    border-radius: 50%;
    object-fit: cover;
}
.posts .posttitle .postleft .details .name{
    padding-bottom: 2px;
    font-weight: bold;
}
.posts .postcontent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.posts .postfooter{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.posts .postfooter .likesharecomment{
    font-size: 22px;
    margin-right: 10px;
}
.posts .postfooter .save{
    font-size: 22px;
}
.posts .postfootercontent{
    padding: 0 16px 16px 16px;
}
.posts .postfootercontent p{
    margin-bottom: 3px;
}
.posts .postfootercontent .likes{
    margin-bottom: 8px;
}
.posts .postfootercontent .name{
    font-weight: 600;
}
.posts .postfootercontent span{
    margin-left: 10px;
    font-weight: normal;
}
.posts .postfootercontent .postingtime{
    font-size: 10px;
    margin-top: 6px;
}
.posts .commentbox{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts .commentbox .leftside{
    display: flex;
    align-items: center;
}
.posts .commentbox .leftside i{
    font-size: 22px;
    margin-right: 15px;
}
.posts .commentbox .leftside input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}









.rightside{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;
}
.rightside .profiletitle{
    display: flex;
    align-items: center;
}
.rightside .profiletitle .profileleft{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.rightside .profiletitle .profileleft .image img{
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.rightside .profiletitle .profileleft .details .name{
    padding-bottom: 3px;
}
 .suggestions{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
 }
 .suggestions p{
    margin-right: 40px;
 }
 .suggestions p:last-child{
    margin-right: 0px;
 }
 .suggestion-title{
    display: flex;
    align-items: center;
 }
 .suggestion-title .suggestion-left{
    display: flex;
    align-items: center;
    margin-right: 60px;
 }
 .suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
 }
 .suggestion-title .suggestion-left .details .name{
    padding-bottom: 3px;
 }






@media (max-width:992px){
    header{
        pad: 10px 20px;
    }
    section .leftside{
        width: 100%;
    }
    section .rightside{
        display: none;
    }
}

@media(max-width:768px){
    header .searchbox{
        display: none;
    }
    section{
        padding: 30px 20px;
    }
}


@media(max-width:576px){
    .story .stories{
        width: 25%;
    }
    header nav ul li{
        margin-left: 10px;
    }
}